<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <link href="/css/swiper.min.css"/>
    <script type="text/javascript" src="/js/page.js"></script>
    <link rel="stylesheet" href="/css/page.css"/>
    <title>花艺馆首页</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="head">
            <div class="head-title">
                <a href="/">花艺馆</a>
            </div>
            <div class="head-content">
                <div class="head-search">
                    <input id="in" class="form-control" placeholder="找不到?搜一下"/>
                    <div id="indiv" class="search-rs appear">
                        <ul id="rs" class="list-group">
                        </ul>
                    </div>
                </div>
                <div class="login">
                    <a href="/login">登录/注册</a>
                </div>
                <input class="c"/>
            </div>
            <input/>
        </div>
    </div>



    <div class="row">
         <!--轮播图-->
        <div class="wrapper">
            <div class="back fadepage ocp"></div>
            <div class="show">
                <img src="/image/1.jpg"/>
            </div>
            <div class="control">
            </div>
        </div>

    </div>
    <!--<div class="row">-->
        <!--<div class="panel panel-info">-->
            <!--<div class="panel-heading">-->
                <!--食品类-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<div class="list-content">-->
                    <!--<div class="list-item">-->
                        <!--<div class="item-img">-->
                            <!--<img src="/image/1.jpg"/>-->
                        <!--</div>-->
                        <!--<div class="item-foot">-->
                            <!--<div class="item-title">-->
                                <!--漂亮的头像-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<div class="item-price">-->
                                    <!--<span>￥255</span>-->
                                <!--</div>-->
                                <!--<div class="item-time">-->
                                    <!--<span>2020-12-12 12:12:18</span>-->
                                <!--</div>-->
                                <!--<input/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="list-item">-->
                        <!--<div class="item-img">-->
                            <!--<img src="/image/2.jpg"/>-->
                        <!--</div>-->
                        <!--<div class="item-foot">-->
                            <!--<div class="item-title">-->
                                <!--漂亮的头像-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<div class="item-price">-->
                                    <!--<span>￥255</span>-->
                                <!--</div>-->
                                <!--<div class="item-time">-->
                                    <!--<span>2020-12-12 12:12:18</span>-->
                                <!--</div>-->
                                <!--<input/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->



                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--&gt;>>>加载更多-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->




</div>



</body>
</html>